
.col-4 {
    border-color: gray;
    border-width: 1pt;
    border-style: dashed;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  
  .chit-aspect-container {
    padding-top: 159%; 
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  
  .chit-image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .chit-number {
    transform: matrix(0, -1, 1, 0, 0, 0);
    transform-origin: 85% 70%;
    text-align: end;
    font-weight: bold;
    font-size: 5vw;
  }