.page-aspect-container {
  padding-top: 140%;
  /* border-color: brown;
  border-width: 1pt;
  border-style: dashed; */
  position: relative;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.unselectable {
  user-select: none; 
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.text {
  font-size: 18pt;
  font-weight: bold;
}

@media print {
  .page {
      background-color: white;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 18px;
  }
}
